body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
}

.modal {
  top: auto;
  left: auto;
  overflow: initial;
}

.map-container {
  background-color: white;
  border-radius: 5px;
  .leaflet-container {
    height: 400px;
    width: 100%;
  }
}

$break-small: 576px;
@media screen and (min-width: $break-small) {
  .pusher {
    transform: none;
    transition: margin .5s ease !important;
    margin-left: 0;
    .ui.inverted.top.fixed.menu {
      left: 0;
      transition: left .5s ease;
    }
  }

  .ui.visible.left.sidebar~.pusher {
    margin-left: 260px;
    transform: none;
    transition: margin .5s ease;
    .ui.inverted.top.fixed.menu {
      left: 260px;
      right: 0;
      width: auto;
      transition: left .5s ease;
    }
  }
}

.detailed-milestone-container {
  background: #161717;
  box-shadow: inset 2px 2px 2px rgba(255, 250, 250, 0.25), inset -2px -2px 2px #000000;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  display: flex;
  .content-container {
    flex: 1;
  }
  .content {
    .year {
      color: white;
    }
  }
  .event {
    color: white;
  }
}

.image-uploader {
  .upload-doc-button {
    .file-input {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  .page-loader {
    height: auto;
  }
}